.body {
    width: 26vw;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

.text {
    overflow-y: scroll;
    height: 63vh;
}

.heading {
    font-size: 40px;
}

.download {
    border: rgb(0, 174, 255) 2px solid;
    border-radius: 12px;
    /* box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15); */
    float: right;
    padding: 2%;
    padding-right: 10%;
    margin-top:10px;
}