@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Slab:wght@500&display=swap');

.heading {
    font-weight: 700;
    padding-top: 20vh;
    text-align: center;
    font-size: 70px;
    font-family: 'Comfortaa', sans-serif;
}

.divider {
    margin-left: 5vw;
    margin-right: 5vw;
}

.liveModeSwitch {
    float: right;
    padding-top: 3px;
}

.options { 
    display: flex;
    justify-content: center;
    gap: 10px;
}

.description {
    text-align: center;
    padding-top: 20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: x-large;
}
.customChatbotDesign{
    position: fixed;
    bottom: 20px; /* Adjust this value to control the distance from the bottom */
    right: 10px; /* Adjust this value to control the distance from the right */
  }

.chatbot {
    float: right;
    margin-right: 20px;
}