.heading {
    font-weight: 900;
    padding-top: 20vh;
    text-align: center;
    font-size: 70px;
}

.divider {
    margin-left: 5vw;
    margin-right: 5vw;
}

.liveModeSwitch {
    float: right;
    padding-top: 3px;
}

.options { 
    display: flex;
    justify-content: center;
    gap: 10px;
}

.description {
    text-align: center;
    padding-top: 20px;
}
.customChatbotDesign{
    position: fixed;
    bottom: 20px; /* Adjust this value to control the distance from the bottom */
    right: 10px; /* Adjust this value to control the distance from the right */
  }

.chatbot {
    float: right;
    margin-right: 20px;
}