.card {
    border: #56ae57 2px solid;
    height: 20vh;
    width: 18vw;
    cursor: pointer;
    border-radius: 20px;
    background-color:  whitesmoke;
    cursor: pointer;
    color: rgb(18, 77, 104);
    box-shadow: 0 4px 8px 0px rgba(2, 166, 163, 0.2);
}

.heading {
    font-size: 30px;
    padding: 7vh;
    text-align: center;
}

.card:hover {
    border:#000 2px solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}